// Colores
amarillo_claro = #F9BE01
amarillo_medio = #F5D408
azul_claro_marino = #66D9EF
azul_claro = #ADCBE9
azul_medio = #008DA0
azul_oscuro = #133B93

morado_claro = #9395CA
morado_oscuro = #AF70AF
fuscia = #C61C80

naranjado_claro = #F5B249

fondo_header2 = #ECC11A

color_fondo_cajas_texto_precio = azul_medio

color_textos_p = #453205

*
	margin 0
	padding 0
	font-family Arial, sans-serif

/*	=================================================================================
*	Estilos para pagina index.html
*	=================================================================================
*/

article:nth-last-child(1)
	border-bottom none
	padding-bottom 1em

.desayunos
	border-bottom 1px solid black
	& p
		font-size 24px
		font-family 'Indie Flower', cursive
	& a
		font-weight bold
		text-decoration none
		background yellow
		text-align center

.redes_sociales_contacto
	background naranjado_claro
	// background #8F765D
	padding-bottom 1em
	padding-top 1em
	& li
		text-align center
		vertical-align middle
		list-style none	
	& li a
		font-size 25px
		text-decoration none
	& li a::after
		content "desayunos"
		font-family 'Indie Flower', cursive
		padding-left .5em
		font-weight bold

.contacto
	background naranjado_claro
	padding-bottom 1em
	padding-left 2em
	padding-top 1em

footer	
	background naranjado_claro
	text-align center
	& #derechos_reservados		
		background black
		padding-top .5em
		padding-bottom .5em		
		color white
		text-align center
		& a
			list-style-type none
			text-decoration none
			color #C7C72E
			
.encabezado__image__foto--img
	width 100%
	height 100px

.menu
	display none

header
	background naranjado_claro
	display flex
	-webkit-justify-content center
	& h1
		font-family 'Indie Flower'
		text-align center
		font-weight bold
		padding-left 10px
		font-size 24px
		margin-top 10px
	& img
		border-radius 50%
		border 1px solid black
		margin-top 4px


/*	=================================================================================
*	FIN - Estilos para pagina index.html
*	=================================================================================
*/
	
.de_contenido, .de_adicionar, .de_precio_desayuno
	& p
		font-size 13px
	& span
		font-size 13px

figure
	text-align center

article	
	margin-left .5em
	margin-right .5em
	// background #FAD25A

form label
	display -webkit-box
	& p
		margin-left 1em
		margin-bottom .3em
		width 8em		
	& span::before
		content "$ "

.de_desayunos_tipo_img
	width 14em
	border-radius .8em

.de_ver_desayuno
	// background lightgray
	border-bottom 1px solid gray	
	// margin-bottom .5em
	text-align center
	& span		
		font-size 24px
		font-family 'Indie Flower', cursive
	& h2
		font-weight bold
		font-family 'Indie Flower', cursive
	& h3::before
		font-family 'Indie Flower', cursive
		content "$  "

.de_contenido
	// background yellow
	border-bottom 1px solid gray
	// margin-bottom .5em
	text-align justify	
	padding .5em
	& h2
		font-family 'Indie Flower', cursive

.de_adicionar
	// background red
	padding .5em
	& h2
		margin-bottom .5em
		font-family 'Indie Flower', cursive
		
.de_precio_desayuno
	background azul_medio
	padding .5em
	display -webkit-box
	margin-bottom .5em
	& p
		margin .2em 0
	& input
		border-radius 4px
		margin .2em 0
		width 11em
	& #btn_calcular
		margin-top .5em
	& #cantidad
		width 4em
	& #btn_calcular
		width 6em

.de_botones_orden
	background azul_medio


// Mobile (portrait)
// @media only screen and (max-width: 767px)

// Mobile (landscape)
@media only screen and (min-width: 480px) and (max-width: 767px)
	section
		display flex
		-webkit-justify-content center
		justify-content center
	.layout_footer
		-webkit-justify-content center
		display flex
		justify-content center
		padding-bottom 1em
		padding-top 1em
		& .redes_sociales_contacto
			padding-right 2em
			border-right 1px solid black
		& .contacto
			text-align center
	footer	
		& p
			text-align left		
	.desayunos
		border-bottom none
// Tablet (portrait)
// @media only screen and (min-width: 768px)



// article
// 	display -webkit-box
// 	margin 1rem
// 	background color_article_desayunos
// 	// background -moz-linear-gradient(left top, left bottom,from(naranjado_medio), to(white))	
// 	// background -webkit-gradient(linear,left top, left bottom,from(naranjado_medio), to(white))
// 	box-shadow 10px 10px 10px gray
// 	border-radius 0 15px 15px 0
// 	border-left 1px solid gray
// 	border-top 1px solid gray
// 	& p
// 		color color_texto_contactos
// 		width 200px
	


// .menu ul a
// 	text-decoration none
// 	color white
// 	font-size 14px
// 	font-weight bold
	
// /*
// *  Probando menu en linea superior
// */
// .menu ul li ul li:nth-child(1)
// 	display none

// .menu ul li:nth-child(1) img
// 	display none

// .menu ul li ul li
// 	background fondo_item_menu
// 	border-radius 35px
// 	padding 1rem
		
// .menu li
// 	display inline-block
	
// .panel_menu
// 	text-align center
// 	display block

	
// .redes_sociales_contacto ul li
// 	margin-right 20px
// 	font-weight bold
// 	padding 0.8rem

	
// .redes_sociales_contacto ul li a img
// 	width 32px
// 	height 32px
// 	vertical-align top


// /*
// *   ===============================================================
// *			RESOLUCION PARA CELULARES (PEQUEÑA) 
// *		320 × 480 Phone (portrait) => Vertical
// *   ===============================================================
// */
// @media screen and (max-width 320px)
// 	h1
// 		font-size 1.5rem
// 	article p
// 		width 100px
// 	.menu ul li ul li:nth-child(2)
// 		padding-left 0
// 	.menu ul li ul li:nth-child(2) img
// 		display block
// 		width 100%
// 		height 100px
// 	.menu ul li:nth-child(1) img
// 		display block
// 	.menu
// 		position absolute
// 	.menu ul li ul li
// 		display block
// 		border-radius 0		
// 		text-align left
// 		padding 0 0 0.4rem 1rem
// 	// CSS para menu emergente
// 	.menu ul ul
// 		display none
// 	.menu li:hover > ul
// 		display block

// /*
// *   ===============================================================
// *			RESOLUCION PARA SAMSUNG GALAXY 3 (Portrait...)
// *			360 x 640 ==> Resolución Retina Design 720 x 1280
// *   ===============================================================
// */
// @media screen and (min-width 360px)
// 	h1
// 		font-size 1.5rem
// 	article p
// 		width 150px
// 	.menu ul li ul li:nth-child(2)
// 		padding-left 0
// 	.menu ul li ul li:nth-child(2) img
// 		display block
// 		width 100%
// 		height 100px
// 	.menu ul li:nth-child(1) img
// 		display block
// 	.menu
// 		position absolute
// 	.menu ul li ul li
// 		display block
// 		border-radius 0		
// 		text-align left
// 		padding 0 0 0.4rem 1rem
// 	// CSS para menu emergente
// 	.menu ul ul
// 		display none
// 	.menu li:hover > ul
// 		display block	

// /*
// *   ===============================================================
// *			RESOLUCION PARA CELULARES (PEQUEÑA) 
// *		480 × 320 Phone (landscape) => Horizontal
// *   ===============================================================
// */
// @media screen and (min-width 480px)
// 	article p
// 		padding-left 2rem
// 		width auto
// 	.menu ul li ul li:nth-child(2)
// 		padding-left 0
// 	.menu ul li ul li:nth-child(2) img
// 		display block
// 		width 100%
// 		height 100px
// 	.menu ul li:nth-child(1) img
// 		display block
// 	.menu
// 		position absolute
// 	.menu ul li ul li
// 		display block
// 		border-radius 0		
// 		text-align left
// 		padding 0 0 0.4rem 1rem
// 	// CSS para menu emergente
// 	.menu ul ul
// 		display none
// 	.menu li:hover > ul
// 		display block

// /*
// *   ===============================================================
// *			RESOLUCION PARA SAMSUNG GALAXY 3  (landscape...)
// *			640 x 360 ==> Resolución Retina Design 720 x 1280
// *   ===============================================================
// */
// @media screen and (min-width 640px)
// 	section
// 		display -webkit-inline-box		
// 	article
// 		border-radius 15px
// 		display block
// 		text-align center
// 		border-top 1px solid gray
// 		border-left 1px solid gray
// 		& p 
// 			color color_texto_contactos
// 			margin 0
// 			font-size 1rem
// 			padding 0 0.5rem
// 	.menu ul li ul li:nth-child(2) img // Escondemos el elemento imagen del menu
// 		display none	
// 	.menu ul li ul li:nth-child(2)  // Escondemos el elemento vacío del menu
// 		display none
// 	.menu ul li:nth-child(1) img
// 		display none
// 	.menu ul li ul li
// 		background fondo_item_menu
// 		border-radius 35px
// 		padding 1rem
// 		display -webkit-inline-box
// 		font-size 10px
// 	.menu
// 		position relative
// 	.menu ul ul
// 		display inline-block

 
// *   ===============================================================
// *				RESOLUCION PARA TABLET
// *			800 × 480 Small Tablet (landscape)
// *   ===============================================================

//  @media screen and (min-width 767px)
// 	section
// 		display -webkit-inline-box
// 	article
// 		display block
// 		text-align center
// 		border-radius 15px
// 		& p 
// 			color color_texto_contactos
// 			margin 0
// 			font-size 1rem
// 			padding 0 1rem			

// 	.desayunos_tipo_img
// 		margin 0
// 		padding 0
// 	.menu ul li ul li:nth-child(2) img // Escondemos el elemento imagen del menu
// 		display none	
// 	.menu ul li ul li:nth-child(2)  // Escondemos el elemento vacío del menu
// 		display none
// 	.menu ul li:nth-child(1) img
// 		display none
// 	.menu ul li ul li
// 		background fondo_item_menu
// 		border-radius 35px
// 		padding 1rem
// 		display -webkit-inline-box
// 	.menu
// 		position relative
// 	.menu ul ul
// 		display inline-block
// /* 
// *   ===============================================================
// *				RESOLUCION PARA TABLET
// *			800 × 480 Small Tablet (landscape)
// *   ===============================================================
// */
//  @media screen and (min-width 800px)
// 	section
// 		display -webkit-inline-box		
// 	article
// 		border-radius 15px
// 		display block
// 		text-align center
// 		border-top 1px solid gray
// 		border-left 1px solid gray
// 		& p 
// 			color color_texto_contactos
// 			margin 0
// 			font-size 1rem
// 			padding-left 1rem
// 	.menu ul li ul li:nth-child(2) img // Escondemos el elemento imagen del menu
// 		display none	
// 	.menu ul li ul li:nth-child(2)  // Escondemos el elemento vacío del menu
// 		display none
// 	.menu ul li:nth-child(1) img
// 		display none
// 	.menu ul li ul li
// 		background fondo_item_menu
// 		border-radius 35px
// 		padding 1rem
// 		display -webkit-inline-box
// 	.menu
// 		position relative
// 	.menu ul ul
// 		display inline-block
// 	.redes_sociales_contacto ul li
// 		display -webkit-inline-box	
// 	.desayunos_tipo--img
// 		margin auto 1rem
// 		padding 0rem		
// 	.layoutDesayunos
// 		text-align center
// 	.desayunos_tipo--img
// 		padding-left 1rem
// 		padding-right 1rem
// 		padding-bottom 1rem
// 	nav
// 		background color_article_desayunos
// 		background -moz-linear-gradient(left top, left bottom,from(color_article_desayunos), to(color_fondo_contactos))	
// 		background -webkit-gradient(linear,left top, left bottom,from(color_article_desayunos), to(color_fondo_contactos))
// 		padding 0.4rem
		
			
		
// /* 
// *   =======================================
// *		RESOLUCION PARA PC (GRANDE)
// *   =======================================
// */
// @media screen and (min-width 1000px)  
// 	.redes_sociales_contacto
// 		width 50%
// 		text-align -webkit-right
// 		background -moz-linear-gradient(left top, left bottom,from(color_fondo_contactos), to(white))
// 		background -webkit-gradient(linear,left top, left bottom,from(color_fondo_contactos), to(white))	
// 		& li
// 			padding 0
// 	.contacto
// 		width 50%
// 		text-align -webkit-left
// 		background -moz-linear-gradient(left top, left bottom,from(color_fondo_contactos), to(white))
// 		background -webkit-gradient(linear,left top, left bottom,from(color_fondo_contactos), to(white))	
// 		& p
// 			margin 0.8rem 0
// 	.redes_sociales_contacto ul li
// 		display -webkit-box		
// 	.layout_footer
// 		display flex

