fondo_header2 = #ECC11A
color_fondo_desayuno_economico = #6969C2
color_fondo_desayuno_economico2 = #779DB0

.de_layoutDesayunos section 
	display block
.de_desayuno_eco
	display block
.de_info_desayuno
	background color_fondo_desayuno_economico
	display -webkit-box
.de_contenido
	width 30%
	text-align justify
.de_adicionar
	width 30%
	text-align -webkit-left
	padding-left 3rem
.de_ver_desayuno
	width 30%
.de_precio_desayuno
	display -webkit-box	
	// background color_fondo_desayuno_economico2
	& p
		padding-left 1rem
		padding-right 1rem
// .de_botones_orden
	// background color_fondo_desayuno_economico2
.de_botones_orden input
	margin 0.5rem
	padding 0.5rem
	border-radius 25px
	font-weight bold
article .de_desayunos_tipo_img
	width 196px
	height auto
	border-radius 40%
	border 5px solid #B87D03
	box-shadow 5px 5px 10px fondo_header2
